@mixin globalInput {
    padding: 15px 10px; 
    width: 100%;
    border: none;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    border: rgb(204, 204, 204) solid 1px;
}
@mixin globalPadding {
    padding: 0px 10%;
    @media only screen and (max-width: 768px) {
        padding: 0px 5%;
    }
}
@mixin globalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: clamp(250px, 30vw, 350px);
    margin-bottom: 20px;
}
@mixin globalButton($color) {
    background: $color;
    cursor: pointer;
    width: fit-content;
    border: none;
    padding: 10px 30px;
    color: white;
    transition: 0.6s ease-in-out;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.445);
    &:hover {
        //background: rgb(255, 77, 77);
        transform: scale(1.05);
    }
}
