@use "../Global/color" as c;
@use "../Global/mixing" as m;
.main {
    width: 100%;
    padding: 10px;
    min-height: 90vh;
    background-color: rgb(241, 241, 241);
    .txt {
        text-align: center;
        color: red;
    }
    .container {
        overflow-x: auto;
        // background-color: red;
        .graph {
            //  min-width: 1500px;
            min-height: 600px;
            // min-width: 200vw;
            @media only screen and (max-width: 1000px) {
                min-width: 1000px;
            }
        }
    }
    .box {
        width: 100%;
        display: flex;
        justify-content: center;
        .link {
            margin-top: 10vh;
            font-size: smaller;
            text-decoration: none;
            color: c.$Color-gray;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
