@use "../Global/mixing" as m;
@use "../Global/color" as c;
.main {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        16deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(237, 237, 237, 1) 50%,
        rgba(227, 227, 227, 1) 100%
    );
    display: flex;
    justify-content: center;
    
    //border: solid;
    height: calc(100vh - 100px);
    width: 100%;
    gap: 20px;
    padding: 20px 10px;
    h1 {
        margin-top: 20vh;
        text-align: center;
        font-size: clamp(2rem, 10vh, 50px);
        text-shadow:0 2px 2px rgb(0, 89, 172);
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }
}
