@use "../Global/color" as c;
@use "../Global/mixing" as m;

.main {
    background-color: c.$Color-background;
    // border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    padding: 10px;

    .logo {
        width: 150px;
        height: auto;
        margin-bottom: 20px;
    }
    .title {
        color: c.$Color-primary;
        margin: 0;
    }
    .form {
        display: flex;
        flex-direction: column;
        @include m.globalForm;
        input {
            @include m.globalInput;
        }
        button {
            @include m.globalButton(c.$Color-primary);
        }
    }
    .link {
        color: c.$Color-secondary;
    }
    .linkCal {
        font-size: smaller;
        text-decoration: none;
        color: c.$Color-gray;
        &:hover {
            text-decoration: underline;
        }
    }
    .linkCalForgotPass {
        margin-top: 5px;
        text-decoration: none;
        font-size: small;
        color: c.$Color-secondary;
        letter-spacing: 2px;
        &:hover {
            text-decoration: underline;
        }
    }
    .txt {
        color: red;
        text-align: center;
    }
}
