@use "../Global/color" as c;
@use "../Global/mixing" as m;

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
   
    .logo {
        width: 150px;
        height: auto;
        margin-bottom: 20px;
    }
    .title {
        color: c.$Color-primary;
        margin: 0;
    }
    .form {
        display: flex;
        flex-direction: column;
        @include m.globalForm;
        gap: 3px;
        input {
            @include m.globalInput;
            margin-bottom: 20px;
        }
        button {
            @include m.globalButton(c.$Color-primary);
        }
        p{
            font-size: small;
        }
    }
    .link {
        color: c.$Color-secondary;
    }
    .linkCal {
        font-size: smaller;
        text-decoration: none;
        color: c.$Color-gray;
        &:hover {
            text-decoration: underline;
        }
    }
    .txt {
        color: red;
        text-align: center;
    }
    .btnContainer{
        display: flex;
        gap: 20px;
        button{
            @include m.globalButton(c.$Color-primary);
        }
    }
}
