@use "../Global/color" as c;
@use "../Global/mixing" as m;

.main {
    background-color: c.$Color-background;
    // border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    padding: 20px 10px;
  
    .pic {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        border-radius: 50%;
        margin: 20px 10px;
        color: rgb(224, 224, 224);
    }
    .title {
        color: c.$Color-primary;
        margin: 0;
    }
    .form {
        display: flex;
        flex-direction: column;
        @include m.globalForm;
        gap: 3px;
        .data {
            @include m.globalInput;
            margin-bottom: 20px;
            border: none;
        }
        button {
            @include m.globalButton(c.$Color-primary);
        }
        p{
            font-size: small;
        }
    }
    button {
        @include m.globalButton(black);
        margin-top: 0;
    }
    .link {
        color: c.$Color-secondary;
    }
    .linkCal {
        font-size: smaller;
        text-decoration: none;
        color: c.$Color-gray;
        &:hover {
            text-decoration: underline;
        }
    }
    .txt {
        color: red;
        text-align: center;
    }
}
