.main {
    background-color: rgba(0, 44, 88, 0.425);
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 10%;
    flex-wrap: wrap;
    @media only screen and (max-width: 768px) {
        padding: 20px 5%;
    }
}
