@use "../Global/mixing" as m;
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: dodgerblue;
    padding: 20px 10%;

    flex-wrap: wrap;
    @media only screen and (max-width: 768px) {
        padding: 20px 5%;
    }
    .left {
        display: flex;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
    .logo{
        cursor: pointer;
        text-decoration: none; 
        color: white;
        font-weight: bolder;
        font-size: clamp(1rem, 10vh, 1.5rem);
        text-shadow:0 2px 2px rgb(0, 89, 172);
    }
    .link {
        text-decoration: none;
        color: white;
        transition: 0.6s ease-in;
        cursor: pointer;
        &:hover {
            color: rgb(233, 233, 233);
        }
    }
}
